html{
     background:cornsilk;
     border:2px solid blue;
     border-width: 5px 5px;
     margin:30px;
     padding:30px;
     width:90%;
     height:200%;
}

h1{
   color:purple;
}

font:hover{
         color: darkmagenta;
}